html, body {
  margin: 0px;
}

header {
  height: 50vh;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  font-size: 6em;
  color: white;
  line-height: 50vh;
}

ul {
  list-style-type: circle;
  color: orange;
  line-height: 2em;
}

ul>li>a {
  color: orange;
}

ul>li:hover, ul>li>a:hover{
  color: lightblue;
}